.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: var(--text-color);
	display: flex;
	align-items: center;
	font-size: 0.9em;
	max-height: 45px;
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--background-color);
}

.footer svg {
	max-width: 25px;
	max-height: 25px;
	margin-left: 5px;
	margin-right: 5px;
}
